body {
 background-color: #fefff4;   
}

ul {
  list-style-type: none;
  margin: 10;
  padding: 10;
  background-color: pink;
  opacity:0.3;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
}

li {
  display: inline;
  float: left;

}

li a {
  text-decoration: none;
  display: block;
  color: red;
  padding: 16px;
  opacity: 1.0;

}

li a:hover {
  color: black;
  font-weight: bold;
    
}

h1, h2, h3, p {
  margin-left: 32px;
  font-family: "Courier New", Courier, monospace;
  color: gray;
}


.slideshow {
  position: relative;
  margin: auto;
} 

.slide {
  display: none;
  z-index: 1; 
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 4px;
  background-color: pink;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
  z-index: 1;
}

.active, .dot:hover {
  background-color: gray;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  0% {opacity: 0.5} 
  100% {opacity: 1}
}

@keyframes fade {
  0% {opacity: 0.5} 
  100% {opacity: 1}
}




